extends layout

block body
  header.header
    h1.header__title Babel Library
    .header__right
      if !authenticated
        a.header__account(href="/login") Login
      else
          a.header__add#addItem +
          a.header__account(href="/logout") Logout

  main
    each book, i in books
      - book = book.attributes
      .book.js-book(data-isbn="#{book.isbn}" data-title="#{book.title}" data-author="#{book.author}" data-image="#{book.image}" data-price="#{book.price}" data-publisher="#{book.publisher}" data-publication-date="#{book.publicationDate}" data-place="#{book.place}" data-page="#{book.page}" data-booklist="#{book.booklist}")
        img.book__img(src="#{book.image}" alt="")

  .modal.js-modal
  if authenticated
    form.modal__form.js-modal__form(action="/book" method="POST")
      input(type="hidden" name="_csrf" value="#{csrf}")
      input(type="text" name="isbn" placeholder="ISBN")
      select(name="place")
        option(value="本棚") 本棚
        option(value="kindle") Kindle
        option(value="i文庫") i文庫
      textarea(name="booklist")
      input(type="submit" value="Add")

  if authenticated
    script(type="text/template" id="bookDetail-template")
      section.bookDetail.js-bookDetail(data-isbn!="<%= isbn %>")
        header.bookDetail__header
          i.fa.fa-times.bookDetail__close.js-bookDetail__close
        .bookDetail__main
          .bookDetail__detail
            img.bookDetail__img(src!="<%= image %>")
            ul.bookDetail__list
              li.bookDetail__data <%= title %>
              li.bookDetail__data <%= author %>著
              li.bookDetail__data <%= publisher %> / <%= publicationDate %>発売
              li.bookDetail__data <%= price %>円 / <%= page %>ページ
          .bookDetail__attributes
            .bookDetail__attribute
              span.bookDetail__heading 場所
              span.bookDetail__content
                select.js-bookDetail__place(name="place")
                  <% if (place === "本棚") { %>
                  option(value="本棚" selected) 本棚
                  <% } else { %>
                  option(value="本棚") 本棚
                  <% } %>

                  <% if (place === "kindle") { %>
                  option(value="kindle" selected) kindle
                  <% } else { %>
                  option(value="kindle" ) kindle
                  <% } %>

                  <% if (place === "i文庫") { %>
                  option(value="i文庫" selected) i文庫
                  <% } else { %>
                  option(value="i文庫") i文庫
                  <% } %>
            .bookDetail__attribute
              span.bookDetail__heading Booklist
              span.bookDetail__content
                textarea
                  <% if (booklist.length !== 0) { %>
                  <%= booklist %>
                  <% } %>
              span.bookDetail__booklistBtn
                button#booklistBtn(type="button") 保存

        footer.bookDetail__footer
          i.fa.fa-trash.bookDetail__remove.js-bookDetail__remove
  else
    script(type="text/template" id="bookDetail-template")
      section.bookDetail.js-bookDetail(data-isbn!="<%= isbn %>")
        header.bookDetail__header
          i.fa.fa-times.bookDetail__close.js-bookDetail__close
        .bookDetail__main
          .bookDetail__detail
            img.bookDetail__img(src!="<%= image %>")
            ul.bookDetail__list
              li.bookDetail__data <%= title %>
              li.bookDetail__data <%= author %>著
              li.bookDetail__data <%= publisher %> / <%= publicationDate %>発売
              li.bookDetail__data <%= price %>円 / <%= page %>ページ
          .bookDetail__attributes
            .bookDetail__attribute
              span.bookDetail__heading 場所
              span.bookDetail__content <%= place %>
            <% if (booklist.length !== 0) { %>
            .bookDetail__attribute
              span.bookDetail__heading Booklist
              span.bookDetail__content <%= booklist %>
            <% } %>

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js")
  script(src="script/app.js")
